html {
  font-family: Helvetica;
  text-align: center;
}

nav {
  text-align: center;
  font-size: 18px;
}

ul {
  list-style-type: none;
}

li {
  margin: 10px;
}

.homepage {
  background-image: url(/Users/miketelesca/Broadway/resources/images/the-flatiron-building.png);
  background-size: cover;
}

h4 {
  background-image: url(/Users/miketelesca/Broadway/resources/images/the-flatiron-building.png);
  background-size: cover;
}
